* {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

:root {
  --main-color: #ff6801;
  --common-shdow: 0px 0px 15px 0px rgba(46, 49, 146, 0.09);
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 8px;
}

/*== checkout cart css start ==*/
.checkout_cart {
  padding: 60px 0;
}

.sec_wrap {
  gap: 16px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.sec_wrap .check_layout {
  width: 100%;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.sec_title h3 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.check_layout .address_status {
  padding: 16px;
  border-radius: 6px;
  box-shadow: var(--common-shdow);
  background: #ffffff;
}

.address_status h4 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.address_status button {
  gap: 8px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
}

.cart_content {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.cart_content .cart_product {
  border-radius: 6px;
  box-shadow: var(--common-shdow);
}

.product_select .select_group {
  gap: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: var(--common-shdow);
  background: #fff;
}

.select_group .store_name {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 28px);
}

.store_name .name_inner {
  gap: 8px;
  display: flex;
  align-items: center;
}

.name_inner span {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

.cart_product_inner .product_item {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  padding: 24px 10px;
  border-top: 0.5px dashed #4a4a4a75;
}

.cart_product_inner .product_item:first-child {
  border-top: 0;
}

.product_item .select_pr input {
  height: 16px;
  width: 16px;
}

.product_item .item_inner {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product_item .item_thumb {
  height: 80px;
  width: 80px;
}

.item_inner .item_thumb img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: contain;
}

.item_inner .item_content {
  width: 100%;
}

.item_content h4 {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.item_content .pr_price span {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
  display: inline-block;
}

.pr_qty label {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.pr_qty select {
  width: 60px;
  height: 24px;
  border-radius: 4px;
}

.pr_qty select:focus {
  outline: none;
}

.cart_summary {
  top: 0;
  width: 100%;
  position: sticky;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.promo_code .promo_form {
  gap: 8px;
  display: flex;
  padding: 12px;
  border-radius: 6px;
  box-shadow: var(--common-shdow);
}

.promo_form input {
  height: 32px;
  padding: 5px 10px;
  border-radius: 6px;
  width: calc(100% - 128px);
  border: 0.5px solid #838383;
}

.promo_form input:focus {
  outline: none;
}

.promo_form button.promo_btn {
  color: #fff;
  width: 120px;
  padding: 8px 4px;
  border-radius: 6px;
  background: var(--main-color);
}

.cart_summary .order_summary,
.cart_summary .card_content {
  padding: 16px;
  border-radius: 6px;
  background: #fff;
  box-shadow: var(--common-shdow);
}

.order_summary h4 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 12px;
}

.order_summary ul.summary_list {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

ul.summary_list li {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.summary_list li:last-child {
  padding-top: 8px;
  border-top: 0.5px dashed #4a4a4aba;
}

ul.summary_list li:last-child span {
  color: #000;
  font-weight: 500;
}

ul.summary_list li span {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
}

ul.summary_list li p {
  color: #000;
  font-size: 12px;
  font-weight: 500;
}

.order_summary button.check_btn {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  display: inline-block;
  padding: 10px;
  width: 100%;
  text-align: center;
  border-radius: 6px;
  background: var(--main-color);
  transition: all 0.3s ease-in-out;
}

.order_summary button.check_btn:hover {
  background: #000;
}
/*== page respnsive css ==*/

@media (max-width: 767px) {
}

@media (min-width: 576px) {
  .container {
    padding: 0 16px;
  }
  .cart_product_inner .product_item {
    align-items: center;
  }
  .product_item .item_inner {
    flex-direction: row;
  }
  .product_item .item_thumb {
    height: 100px;
    width: 100px;
  }
  .item_inner .item_content {
    width: calc(100% - 192px);
  }
}

@media (min-width: 768px) {
  .sec_title h3 {
    font-size: 24px;
  }
  .item_content h4 {
    font-size: 15px;
  }
  .sec_wrap {
    flex-direction: row;
  }
  .sec_wrap .check_layout {
    width: calc(100% - 316px);
  }
  .product_item .item_inner {
    flex-direction: column;
  }
  .item_inner .item_content {
    width: 100%;
  }
  .cart_summary {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 24px;
  }
  .product_item .item_inner {
    flex-direction: row;
  }
  .item_inner .item_content {
    width: calc(100% - 192px);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .sec_wrap .check_layout {
    width: calc(100% - 416px);
  }
  .cart_summary {
    width: 400px;
  }
  .pr_links a {
    padding: 0;
    padding-right: 12px;
    border-right: 0.5px solid #4a4a4a;
    border-radius: 0;
    background: transparent;
  }
  .item_content .pr_links a:last-child {
    border-right: 0;
    padding-right: 0;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 48px;
  }
}
