* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

:root {
  --main-color: #ff6801;
  --common-shdow: 0px 0px 15px 0px rgba(46, 49, 146, 0.09);
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 8px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  background: var(--main-color);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff;
  font-size: 14px;
}

/*== header css start ==*/
header .header_top {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #002138;
  box-shadow: 0px 1px 17px 0px rgba(0, 27, 45, 0.09);
}

.header_top .trust_rating {
  gap: 6px;
  display: none;
  align-items: center;
}

.header_top .trust_rating span {
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  background: #01b67b;
}

.header_top span.out_rat {
  display: none;
}

.header_middel {
  padding: 10px 0;
  box-shadow: var(--common-shdow);
}

.header_middel .header_main {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_main .header_logo {
  width: 130px;
  display: none;
}

.header_main .header_logo a {
  gap: 6px;
  display: flex;
  align-items: center;
}

.header_main .header_logo a img {
  height: 30px;
  width: 30px;
}

.header_main .header_logo a span {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
}

.header_main .header_search {
  position: relative;
  width: 100%;
}

.header_search form input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 5px 32px 5px 5px;
  border: 0.5px solid #4a4a4a;
}

.header_search form input:focus,
form select {
  outline: 0;
  border-color: var(--main-color);
}

.header_search form label {
  display: none;
  position: absolute;
  top: 50%;
  left: 1px;
  height: 40px;
  width: 150px;
  transform: translateY(-50%);
  border-radius: 6px 0 0 6px;
}

.header_search form label select {
  position: absolute;
  top: 50%;
  left: 1px;
  height: 38px;
  width: 100%;
  border: 0;
  padding: 5px;
  -webkit-appearance: none;
  transform: translateY(-50%);
  border-radius: 6px 0 0 6px;
  border-right: 0.5px solid #ccc;
}

.header_search form label i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.header_search form button.search_btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 0;
  color: #fff;
  height: 40px;
  padding: 0 12px;
  border-radius: 0 6px 6px 0;
  background: var(--main-color);
}

.header_main .header_menu {
  width: 350px;
  display: none;
}

.header_menu ul.menu_list {
  gap: 12px;
  display: flex;
  align-items: center;
}

.header_menu ul.menu_list li a {
  gap: 6px;
  display: flex;
  align-items: center;
  padding-right: 12px !important;
  border-right: 0.5px solid #4a4a4a;
}

.header_menu ul.menu_list li:last-child a {
  border-right: 0;
  padding-right: 0;
}

.header_menu ul.menu_list li a span {
  gap: 8px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  padding: 0 5px;
  position: relative;
}

ul.menu_list li a small.pr_count {
  position: absolute;
  top: -5px;
  right: 0;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  border-radius: 100%;
  background: var(--main-color);
}

.header_bottom {
  padding: 10px 0;
  background: #002138;
}

.header_bottom .bottom_grid {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_bottom .location_Pdrop button {
  gap: 8px;
  display: flex;
  align-items: center;
}

.header_bottom .location_Pdrop button span {
  gap: 8px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.header_bottom ul.bottom_menu {
  gap: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  width: calc(100% - 180px);
}

ul.bottom_menu li:first-child {
  padding-right: 12px;
  border-right: 0.5px solid #fff;
}

ul.bottom_menu li a {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}

/*=== banner css start ===*/
.banner_area .banner_grid {
  position: relative;
  width: 100%;
  margin-top: 16px;
}

.banner_grid .category_menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 516px;
  border-radius: 8px;
  background: #fff;
  box-shadow: var(--common-shdow);
}

.category_menu a.cate_link {
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.category_menu a.cate_link::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 14px;
  background-image: url(../../assets/img/icon/cate.png);
  width: 15px;
  height: 13px;
  background-size: 100% 100%;
}

.category_menu ul.cate_list {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.category_menu ul.cate_list li {
  width: 100%;
}

.category_menu ul.cate_list li a {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
}

.category_menu ul.cate_list li a:hover {
  color: var(--main-color);
}

a.ct_women:hover span::before {
  background-position: 0 -3824px;
}

a.ct_men:hover span::before {
  background-position: 0 -2851px;
}

a.ct_phone:hover span::before {
  background-position: 0 -3043px;
}

a.ct_computer:hover span::before {
  background-position: 0 -719px;
}

.category_menu ul.cate_list li:first-child a span {
  height: 43px;
  line-height: 43px;
}

.category_menu ul.cate_list li a span {
  height: 35px;
  line-height: 35px;
  padding-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
}

.category_menu ul.cate_list li a span::before {
  display: block;
  position: absolute;
  left: 10px;
  top: 50%;
  content: " ";
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/icon/icon.png);
}

a.ct_women span::before {
  background-position: 0 -3780px;
}

a.ct_men span::before {
  background-position: 0 -2807px;
}

a.ct_phone span::before {
  background-position: 0 -2999px;
}

a.ct_computer span::before {
  background-position: 0 -675px;
}

.banner_grid .banner_thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner_thumb .banner_slider {
  overflow: hidden;
  margin: 0 15px 16px;
}

.banner_thumb .banner_slider .swiper-pagination {
  bottom: var(--swiper-pagination-bottom, 20px);
}

.banner_thumb .thumb_inner {
  width: 100%;
}
.banner_thumb .thumb_inner img {
  width: 100%;
  border-radius: 8px;
}

.banner_thumb .ranking_main {
  width: 100%;
  height: 165px;
  margin: 0 15px;
}

.ranking_main .rank_inner {
  gap: 12px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  background: url(../../assets/img/banner/bg-shape-01.webp) 0px 0px / cover
    no-repeat rgb(255, 245, 245);
}

.rank_inner .promo_card {
  gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  padding: 12px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  min-width: 170px;
  box-shadow: var(--common-shdow);
}

.promo_card.style_one {
  box-shadow: none;
  background: transparent;
}

.promo_card h4 {
  font-size: 18px;
  font-weight: 600;
  transform: scale(1.3);
  text-transform: uppercase;
}

.promo_card p {
  font-size: 14px;
  color: var(--main-color);
  text-transform: uppercase;
}

.promo_card button.promo_btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500%;
  padding: 12px 16px;
  border-radius: 25px;
  background: var(--main-color);
  transition: all .3s ease-in-out;
}

.promo_card button.promo_btn:hover {
  background: #000;
}


.banner_grid .account_main {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  overflow: hidden;
  border-radius: 6px;
  background: white;
  box-shadow: var(--common-shdow);
}

.account_main .ac_inner {
  gap: 12px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 516px;
  padding: 15px;
  border-radius: 8px;
  background-size: 300px 101px;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
  background-image: url(../../assets/img/banner/bg-shape.webp);
}

.ac_inner .offer_post {
  height: calc(100% / 3 - 12px);
}

.ac_inner .offer_post.style_one {
  height: calc(100% / 3);
}

.ac_inner .offer_post {
  position: relative;
}

.offer_post .of_thumb {
  height: 100%;
}

.offer_post .of_thumb img {
 width: 100%;
 height: 100%;
 border-radius: 10px;
}

/*=== banner css ends  ===*/

/* === flash sale css === */
.flash_sale {
  padding: 30px 0;
}

.flash_sale .section_header {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

.section_header .header_left {
  gap: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.section_header .header_left h3 {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.header_left .header_flex {
  gap: 8px;
  display: flex;
  align-items: center;
}

.header_left .header_flex h4 {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.header_flex ul.timer {
  gap: 8px;
  display: flex;
  align-items: center;
}

.header_flex ul.timer li span {
  color: #fff;
  font-size: 12px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  background: var(--main-color);
}

.header_right a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
}

.flash_sale .product_grid {
  border-radius: 5px;
  border: 0.5px solid #ccc;
}

.flash_sale .product_grid .flash_sale_slider {
  padding: 16px;
}
.flash_sale .product_grid .pr_item,
.recent_arival .section_wrap .pr_item {
  width: 100%;
  background: #fff;
  box-shadow: var(--common-shdow);
}

.pr_item .item_thumb {
  height: 200px;
  padding: 12px;
  border-radius: 6px;
}

.pr_item .item_thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pr_item .item_content {
  padding: 12px;
}

.item_content h4 {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.item_content .pr_rating {
  gap: 12px;
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.pr_rating .star_item {
  gap: 8px;
  display: flex;
  align-items: center;
}

.star_item .item_iocn {
  display: flex;
  align-items: center;
}

.pr_rating span.rating_couts {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 400;
}

.pr_price p {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 6px;
}

.pr_price del {
  color: #4a4a4a;
  font-size: 12px;
}

.pr_price span {
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

/* == category area css == */
.category_area {
  height: 340px;
}

.category_area .container {
  height: 100%;
}

.category_area .section_wraper {
  padding: 0;
  height: 100%;
}

.category_slide {
  height: 100%;
}

.category_slide .swiper-wrapper .swiper-slide {
  height: calc((100% - 30px) / 2) !important;
}

.category_slide a .category_item {
  height: 140px;
  width: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid #eaeaea;
  transition: all 0.1s ease-in-out;
}

.category_slide a .category_item:hover {
  border-color: var(--main-color);
}

.category_item .item_icon img {
  width: 48px;
  height: 48px;
  display: block;
}

.category_item .item_text span {
  color: #222;
  width: 100px;
  padding: 0 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*== offer area css ==*/
.offer_area {
  padding: 30px 0;
}

.offer_area .offer_grid {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}

.offer_grid .offer_item {
  flex: 0 0 auto;
  width: calc(50% - 8px);
  box-sizing: border-box;
}

.offer_item .itme_inner {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

.offer_item .itme_inner .inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.offer_item .itme_inner .inner .item_thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
}

.offer_item .itme_inner .inner .item_thumb img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-radius: 6px;
}

.offer_grid .flex_column {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.offer_item.style_one {
  order: 3;
  width: 100%;
}

.offer_item.column_items {
  width: 100%;
}

.offer_item.column_items .itme_inner {
  width: 100%;
  padding-bottom: 56.05%;
}

.offer_grid .two_column {
  gap: 16px;
  display: flex;
}

.offer_item.column_two_items {
  width: calc(100% / 2 - 8px);
}

.offer_item.column_two_items .itme_inner {
  padding-bottom: 136.8%;
}

.offer_item.style_two {
  order: 2;
}

.offer_item.style_two .itme_inner {
  height: 100%;
}

/*== recent_arival css ==*/
.recent_arival {
  padding-bottom: 30px;
}

.recent_arival .section_header {
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}

.recent_arival .section_header h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

.recent_arival .section_wrap ul.slide_nav {
  gap: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 30px;
}

.section_wrap ul.slide_nav li button {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--main-color);
  background: transparent;
}

.section_wrap ul.slide_nav li button.active::after {
  content: "";
  position: absolute;
  left: -11px;
  bottom: -11px;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
  background: var(--main-color);
}

.section_wrap .flash_sale_slider {
  padding: 16px;
  border-radius: 5px;
  border: 0.5px solid rgb(204, 204, 204);
}

/*== global product css ==*/
.global_product {
  padding-bottom: 30px;
  text-align: center;
}
.global_product .section_header {
  text-align: center;
  position: relative;
  display: inline-block;
}
.global_product .section_header h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  position: relative;
  background: #fff;
  z-index: 1;
  padding: 0 6px;
}
.global_product .section_header::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 150%;
  transform: translate(-50%, -50%);
  background: var(--main-color);
}

.global_product .product_grid {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.global_product .product_grid .pr_item {
  width: calc(100% / 2 - 10px);
  border-radius: 5px;
  box-shadow: var(--common-shdow);
}

/*== footer area start ==*/
footer {
  padding: 30px 0;
  background: var(--main-color);
}

footer .footer_grid {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer_grid .footer_quick {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  order: 2;
}

.footer_quick .quick_link {
  width: calc(100% / 2 - 10px);
}

.quick_link.style_one {
  width: calc(100% / 4);
}

.quick_link h4 {
  margin: 0;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  padding-bottom: 12px;
}

.quick_link ul {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.quick_link ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

.quick_link ul li a:hover {
  color: #4a4a4a;
  transform: translateX(4px);
}

.footer_grid .footer_auth {
  width: 100%;
  order: 1;
}

.footer_auth .auth_form {
  padding: 16px;
  border-radius: 6px;
  background: #e6f1fc;
}

.auth_form h4 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 12px;
}

.auth_form p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding-top: 32px;
}

.input_grid {
  gap: 10px;
  display: flex;
  align-items: center;
}

.input_grid input.email_control {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  height: 48px;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  width: calc(100% - 108px);
  border: .5px solid var(--main-color); 
}

input.email_control::placeholder {
  color: #a3a3a3;
}

.input_grid button.auth_btn {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 16px 24px;
  border-radius: 6px;
  background: var(--main-color);
}
/*== footer area ends  ==*/

/*== page responsive css ==*/

@media (max-width: 767px) {
}

@media (min-width: 576px) {
  .container {
    padding: 0 16px;
  }

  .header_top .trust_rating {
    display: flex;
  }

  .header_top span.out_rat {
    display: block;
  }

  .header_search form input {
    padding: 5px 32px 5px 160px;
  }

  .header_search form label {
    display: block;
  }
  .offer_grid .offer_item {
    width: calc(50% - 8px);
  }
  .offer_item.style_one {
    width: 100%;
  }
  .offer_item.column_items {
    width: 100%;
  }
  .global_product .product_grid .pr_item {
    width: calc(100% / 3 - 11px);
  }
  footer {
    padding: 60px 0;
  }
  .footer_quick .quick_link {
    width: calc(100% / 4 - 10px);
  }
}

@media (min-width: 768px) {
  .header_main .header_logo {
    display: block;
  }

  .header_main .header_search {
    width: calc(100% - 124px);
  }

  .header_main .header_menu {
    width: 280px;
    display: none;
  }
  .offer_grid .offer_item {
    width: calc(41.666667% - 16px);
  }
  .offer_item.style_one {
    order: 2;
    width: calc(33.3333333333% - 16px);
  }
  .offer_item.column_items {
    width: 100%;
  }
  .offer_item.column_two_items {
    width: calc(100% / 2 - 8px);
  }
  .offer_item.style_two {
    order: 3;
    width: 25%;
  }
  .global_product .product_grid .pr_item {
    width: calc(100% / 3 - 11px);
  }
  footer {
    padding: 80px 0;
  }
  .footer_quick .quick_link {
    order: 1;
    width: calc(100% / 2 - 10px);
  }
  .footer_grid .footer_quick {
    width: calc(100% - 50% + -24px);
  }
  .footer_grid .footer_auth {
    width: 50%;
    order: 2;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 24px;
  }
  .header_main .header_search {
    width: calc(100% - 510px);
  }
  .header_main .header_menu {
    display: block;
  }
  .banner_area .banner_grid {
    padding-left: 240px;
  }
  .banner_grid .banner_thumb {
    height: 516px;
  }
  .banner_grid .category_menu {
    display: block;
  }
  .flash_sale {
    padding: 60px 0;
  }
  .offer_area {
    padding: 60px 0;
  }
  .recent_arival {
    padding-bottom: 60px;
  }
  .recent_arival .section_header h3 {
    font-size: 24px;
  }
  .global_product {
    padding-bottom: 60px;
  }
  .global_product .section_header h3 {
    font-size: 24px;
  }
  .global_product .product_grid .pr_item {
    width: calc(100% / 4 - 12px);
  }
  footer {
    padding: 100px 0;
  }
  .footer_grid .footer_quick {
    width: calc(100% - 45% + -24px);
  }
  .footer_grid .footer_auth {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .banner_grid .banner_thumb {
    padding-right: 300px;
  }
  .ranking_main {
    height: 165px;
  }
  .promo_card h4 {
    font-size: 24px;
    font-weight: 600;
    transform: scale(1.4);
  }  
  .banner_grid .account_main {
    display: block;
  }
  .global_product .product_grid .pr_item {
    width: calc(100% / 5 - 13px);
  }
  .footer_quick .quick_link {
    width: calc(100% / 4 - 10px);
  }
  .footer_grid .footer_quick {
    width: calc(100% - 40% + -24px);
  }
  .footer_grid .footer_auth {
    width: 40%;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 80px;
    max-width: 100%;
  }
  .global_product .product_grid .pr_item {
    width: calc(100% / 6 - 14px);
  }
  .footer_grid .footer_quick {
    width: calc(100% - 30% + -24px);
  }
  .footer_grid .footer_auth {
    width: 30%;
  }
}

@media (min-width: 1500px) {
  .banner_thumb .banner_slider {
    height: calc(100% - 180px);
  }

  .banner_thumb .thumb_inner {
    height: 100%;
  }

  .banner_thumb .thumb_inner img {
    height: 100%;
  }
}

@media (min-width: 1920px) {
  .banner_thumb .banner_slider {
    height: 100%;
    margin-bottom: 0;
  }

  .banner_thumb .thumb_inner {
    height: 100%;
  }

  .banner_thumb .thumb_inner img {
    height: 100%;
  }

  .banner_thumb .ranking_main {
    display: none;
  }
}
