* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;

  font-family: "Rubik", sans-serif;
}

:root {
  --main-color: #ff6801;
  --common-shdow: 0px 0px 15px 0px rgba(46, 49, 146, 0.09);
}

a {
  display: inline-block;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  background: transparent;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 8px;
}

/*== header css start ==*/
header .header_top {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background: #002138;
  box-shadow: 0px 1px 17px 0px rgba(0, 27, 45, 0.09);
}

.header_top .trust_rating {
  gap: 6px;
  display: none;
  align-items: center;
}

.header_top .trust_rating span {
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  background: #01b67b;
}

.header_top span.out_rat {
  display: none;
}

.header_middel {
  padding: 10px 0;
  box-shadow: var(--common-shdow);
}

.header_middel .header_main {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_main .header_logo {
  width: 130px;
  display: none;
}

.header_main .header_logo a {
  gap: 6px;
  display: flex;
  align-items: center;
}

.header_main .header_logo a img {
  height: 30px;
  width: 30px;
}

.header_main .header_logo a span {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 500;
}

.header_main .header_search {
  position: relative;
  width: 100%;
}

.header_search form input {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 5px 32px 5px 5px;
  border: 0.5px solid #4a4a4a;
}

.header_search form input:focus,
form select {
  outline: 0;
  border-color: var(--main-color);
}

.header_search form label {
  display: none;
  position: absolute;
  top: 50%;
  left: 1px;
  height: 40px;
  width: 150px;
  transform: translateY(-50%);
  border-radius: 6px 0 0 6px;
}

.header_search form label select {
  position: absolute;
  top: 50%;
  left: 1px;
  height: 38px;
  width: 100%;
  border: 0;
  padding: 5px;
  -webkit-appearance: none;
  transform: translateY(-50%);
  border-radius: 6px 0 0 6px;
  border-right: 0.5px solid #ccc;
}

.header_search form label i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.header_search form button.search_btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 0;
  color: #fff;
  height: 40px;
  padding: 0 12px;
  border-radius: 0 6px 6px 0;
  background: var(--main-color);
}

.header_main .header_menu {
  width: 350px;
  display: none;
}

.header_menu ul.menu_list {
  gap: 12px;
  display: flex;
  align-items: center;
}

.header_menu ul.menu_list li a {
  gap: 6px;
  display: flex;
  align-items: center;
  padding-right: 12px !important;
  border-right: 0.5px solid #4a4a4a;
}

.header_menu ul.menu_list li:last-child a {
  border-right: 0;
  padding-right: 0;
}

.header_menu ul.menu_list li a span {
  gap: 8px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  padding: 0 5px;
  position: relative;
}

ul.menu_list li a small.pr_count {
  position: absolute;
  top: -5px;
  right: 0;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  border-radius: 100%;
  background: var(--main-color);
}

.header_bottom {
  padding: 10px 0;
  background: #002138;
}

.header_bottom .bottom_grid {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_bottom .location_Pdrop button {
  gap: 8px;
  display: flex;
  align-items: center;
}

.header_bottom .location_Pdrop button span {
  gap: 8px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.header_bottom ul.bottom_menu {
  gap: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

ul.bottom_menu li:first-child {
  padding-right: 12px;
  border-right: 0.5px solid #fff;
}

ul.bottom_menu li a {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}

/*=== banner css start ===*/
.banner_area .banner_grid {
  position: relative;
  width: 100%;
  padding-left: 240px;
  margin-top: 16px;
}

.banner_grid .category_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 516px;
  border-radius: 8px;
  background: #fff;
  box-shadow: var(--common-shdow);
}

.category_menu a.cate_link {
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.category_menu a.cate_link::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 14px;
  background-image: url(../../assets/img/icon/cate.png);
  width: 15px;
  height: 13px;
  background-size: 100% 100%;
}

.category_menu ul.cate_list {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.category_menu ul.cate_list li {
  width: 100%;
}

.category_menu ul.cate_list li a {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
}

.category_menu ul.cate_list li a:hover {
  color: var(--main-color);
}

a.ct_women:hover span::before {
  background-position: 0 -3824px;
}

a.ct_men:hover span::before {
  background-position: 0 -2851px;
}

a.ct_phone:hover span::before {
  background-position: 0 -3043px;
}

a.ct_computer:hover span::before {
  background-position: 0 -719px;
}

.category_menu ul.cate_list li:first-child a span {
  height: 43px;
  line-height: 43px;
}

.category_menu ul.cate_list li a span {
  height: 35px;
  line-height: 35px;
  padding-left: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
}

.category_menu ul.cate_list li a span::before {
  display: block;
  position: absolute;
  left: 10px;
  top: 50%;
  content: " ";
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/icon/icon.png);
}

a.ct_women span::before {
  background-position: 0 -3780px;
}

a.ct_men span::before {
  background-position: 0 -2807px;
}

a.ct_phone span::before {
  background-position: 0 -2999px;
}

a.ct_computer span::before {
  background-position: 0 -675px;
}

.banner_grid .banner_thumb {
  position: relative;
  width: 100%;
  height: 516px;
  overflow: hidden;
}

.banner_thumb .thumb_inner {
  width: 100%;
  padding: 0 15px 16px;
}

.banner_thumb .thumb_inner img {
  width: 100%;
  border-radius: 8px;
}

.banner_thumb .ranking_main {
  width: 100%;
  padding: 0 15px;
}

.ranking_main .rank_inner {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 143px;
  padding: 16px 12px;
  overflow: hidden;
  border-radius: 8px;
  background: url(../../assets/img/banner/bg-shape-01.webp) 0px 0px / cover
    no-repeat rgb(255, 245, 245);
}

.banner_grid .account_main {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  overflow: hidden;
  background: white;
  box-shadow: var(--common-shdow);
}

.account_main .ac_inner {
  width: 240px;
  height: 516px;
  padding: 15px;
  border-radius: 8px;
  background-size: 240px 101px;
  background-repeat: no-repeat;
  background-color: #fff;
  overflow: hidden;
  background-image: url(../../assets/img/banner/bg-shape.webp);
}

/*=== banner css ends  ===*/

/*== page responsive css ==*/

@media (max-width: 767px) {
}

@media (min-width: 576px) {
  .container {
    padding: 0 16px;
  }

  .header_top .trust_rating {
    display: flex;
  }

  .header_top span.out_rat {
    display: block;
  }

  .header_search form input {
    padding: 5px 32px 5px 160px;
  }

  .header_search form label {
    display: block;
  }
}

@media (min-width: 768px) {
  .header_main .header_logo {
    display: block;
  }

  .header_main .header_search {
    width: calc(100% - 124px);
  }

  .header_main .header_menu {
    width: 280px;
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 24px;
  }

  .header_main .header_search {
    width: calc(100% - 510px);
  }

  .header_main .header_menu {
    display: block;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .banner_grid .banner_thumb {
    padding-right: 240px;
  }
  .ranking_main .rank_inner {
    height: 180px;
  }
  .banner_grid .account_main {
    display: block;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 0 48px;
    max-width: 1400px;
  }
}
